* {
  padding: 0;
  mrgin: 0;
}
body, html {
  overflow: hidden;
}
body {
  font-family: "bebas_neueregular", sans-serif;
  color: #9b59b6;
}
textarea, input {
  outline: none;
}
.gradient {
  background: -webkit-linear-gradient(#2c3e50, #9b59b6);
  background: -o-linear-gradient(#2c3e50, #9b59b6);
  background: -moz-linear-gradient(#2c3e50, #9b59b6);
  background: linear-gradient(#2c3e50, #9b59b6);
}
.transition {
  transition: 0.2s all;
  -o-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -webkit-transition: 0.2s all;
}
.box-shadow {
  box-shadow: 0 5px 10px -5px black;
  -webkit-box-shadow: 0 5px 10px -5px black;
  -o-box-shadow: 0 5px 10px -5px black;
  -moz-box-shadow: 0 5px 10px -5px black;
}
#overlap, #modal-overlay {
  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
#hud {
  background: #2c3e50;
  padding: 20px;
  display: block;
  margin: auto;
  width: 640px;
  height: 640px;
}
#snk-view {
  position: relative;
  float: left;
  border: 4px solid #9b59b6;
}
